body {
  background-color: #000;
  padding: 0;
  margin: 0; 
  font-size: 12px;
  font-family: Arial;
}
h1 {
  padding: 4px 4px 4px 8px;
  margin: 0px; 
  font-size: 32px;
}
h2 {
  color: #FFF;
  text-align: center;
  font-weight: normal;
  font-size: 24px;
}
#header{
  width: 100%; 
  color: #FFF;
  background-color: #000;
  text-align: left;
  padding: 0;
  margin: 0; 
}
#container{
  width: 100%; 
  background-color: #333;
  padding: 8px;
  margin: 0; 
}
#container table{
  margin-top: 4px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4px;
}
#container p{
  font-size: 15px;
  color: #FFF;
  font-style: italic;
  padding: 0px;
  margin: 4px 0px 0px 0px; 
}
#container a{
  color: #FFF;
}
#footer{
  width: 100%; 
  color: #FFF;
  background-color: #000;
  border-bottom: solid 1px #333;
  text-align: center;
  padding: 8px;
  margin: 0; 
}
#footer p{
  font-size: 20px;
  padding: 0px;
  margin: 4px; 
}
#footer a{
  color: #FFF;
  text-decoration: none;
}
