body {
  background-color: #000;
  padding: 0;
  margin: 0; 
  font-size: 12px;
  font-family: '"Hiragino Kaku Gothic Pro", "Meiryo", "Lucida Grande","Arial", "MS P Gothic", sans-serif';
}
h1 {
  font-size: 32px;
  padding: 4px 4px 4px 8px;
  margin: 0px; 
}
#header{
  width: 100%; 
  color: #FFF;
  background-color: #000;
  text-align: left;
  padding: 0;
  margin: 0; 
}
#container{
  width: 100%; 
  background-color: #333;
  padding: 8px;
  margin: 0; 
}
#container table{
  margin-top: 4px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4px;
}
#container p{
  color: #FFF;
}
#container a{
  color: #FFF;
}
#footer{
  width: 100%; 
  color: #FFF;
  background-color: #000;
  border-bottom: solid 1px #333;
  text-align: center;
  padding: 8px;
  margin: 0; 
}
#footer p{
  font-size: 20px;
  padding: 0px;
  margin: 4px; 
}
#footer a{
  color: #FFF;
  text-decoration: none;
}
